
<form action="/notification" method="post">

	<% if flash[:notice6] %>
		<div class="notice" style="margin-left:405px">
			<h4 style="color:red"><%= flash[:notice6] %></h4>
		</div>
	<% end %>
	<div class="panel">
		<div class="panel-heading">
			<h4 align="center">Add Notification</h4>
		</div>
	<br/>
	<input type="text" name="comment" class="summernote" />
	<br/>
	<div class="form_group" style="margin-left:50px;width:80%;margin-top:12px;">
		<select class="form-control" style="border-radius: 0px 0px 0px 0px" name="semesters[]" multiple="true" id="a1" placeholder="Enter Semesters">
			<% @semesters.each do |semester| %>
				<option value="<%=semester.id %>"> <%= semester.year %> <%= semester.branch %> <%= semester.semester_type%> </option>
			<% end %>
		</select>
	</div>

	</br>

	<div align="center">
		<input  style="border-radius: 0px 0px 0px 0px" class="btn btn-info" type="submit" value="Submit" />
	</div>
	<br/>
</div>
</form>

<script>
	$(document).ready(function() { $("#a1").select2();});

	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);	
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);
	$(document).ready(function() {
		
  	$('.summernote').summernote(
  	{
  		height: 200,                 // set editor height
		  minHeight: null,             // set minimum height of editor
		  maxHeight: null,             // set maximum height of editor
		  focus: true
		 });
	});


  $("form").on('submit', function(e)
  {
  	if ( !$("#a1").val() )
		{
			e.preventDefault();
			alert("Please enter Semester..!!");
		}
		else
		{
	  	$(".summernote").val($(".summernote").code());
		}
  });
</script>