<nav class="navbar navbar-inverse" role="navigation">
	<span class="navbar-brand" style="margin-top:6px;color:#00FFFF"href="#">EduBook</span>
	<a class="navbar-brand" style="margin-top:6px"href="/profile">Profile</a>
	<a class="navbar-brand" style="margin-top:6px"href="/upload_file">Uplaod Notes</a>
	<a class="navbar-brand" style="margin-top:6px"href="/course">Add Course</a>
	<a class="navbar-brand" style="margin-top:6px"href="/uploads">My Uploads <span class="badge" id="my_count"></span></a>
	<a class="navbar-brand" style="margin-top:6px"href="/overall_uploads">Overall Uploads <span class="badge" id="total_count"></span></a>

	<div >
		<form action="/logout" method="post">

			<div style="margin-top:10px">
				<input style="float:right" class="btn btn-info" type="submit" value="Logout"/>
			</div>
		</form>
	</div>
	
</nav>

<div align="center" style="margin-top:60px">
	<form action="/course" method="post">
		
		<% if flash[:notice] %>
			<div class="notice"><h4 style="color:red"><%= flash[:notice] %></h4></div>
		<% end %>
		<br/><br/>

		<input type="hidden" value=<%=@teacher.id %> name="t_id">
		<label style="margin-left:-220px">Subject Name <span style="padding-left:20px">:</span> </label>
		<div class="form_group" style="float:center;width:15%;margin-top:-32px;margin-left:200px">
			<input type="text" class="form-control" name="course_name" required placeholder="Enter Subject Name"/>
		</div>

		<br/><br/>

		<label style="margin-left:-200px">Subject for<span style="padding-left:20px">:</span> </label>

		<div class="form_group" style="float:center;width:15%;margin-top:-32px;margin-left:200px">
			
			<select class="form-control" name="semesters[]" multiple="true" id="a1" placeholder="Enter Semesters">
				<% @semesters.each do |semester| %>
					<option value= <%=semester.id %> > <%= semester.year %> <%= semester.branch %> <%= semester.semester_type%> </option>
				<% end %>
			</select>

		</div>

		<br/><br/>

		<button type="submit"  class="btn btn-warning" style="border-style:solid; border-color: black;margin-left:40px; background-color:purple">Create Subject</button>
	</form>
</div>

<script>
	
	$(document).ready(function() { $("#a1").select2();});
	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
		
</script>
