<div align="center" style="margin-top:60px">
	<form action="/course" method="post">
		
		<% if flash[:notice] %>
			<div class="notice" style="margin-left:10px;margin-bottom:-25	px"><h4 style="color:red;text-align:center"><%= flash[:notice] %></h4></div>
		<% end %>
		<br/>
		<div class="panel" style="margin-left:325px;margin-right:325px">
			<div style="border-bottom: 1px solid #999;background-color:white">
			<h4>Add Subject</h4>
		</div>
		<input type="hidden" value=<%=@teacher.id %> name="t_id">
		<label class="aka1" style="margin-left:-225px">Subject Name <span style="padding-left:20px">:</span> </label>	
		<div class="form_group" style="float:center;width:40%;margin-top:-48px;margin-left:104px">
			<input type="text" style="border-radius: 0px 0px 0px 0px"class="form-control" name="course_name" required placeholder="Enter Subject Name"/>
		</div>

		<br/><br/>

		<label style="margin-left:-224px">Subject for<span style="padding-left:45px">:</span> </label>

		<div class="form_group" style="float:center;width:40%;margin-top:-35px;margin-left:105px">
			
			<select style="border-radius: 0px 0px 0px 0px" class="form-control" name="semesters[]" multiple="true" id="a1" placeholder="Enter Semesters">
				<% @semesters.each do |semester| %>
					<option value= <%=semester.id %> > <%= semester.year %> - <%= semester.branch %> - <%= semester.semester_type%> </option>
				<% end %>
			</select>

		</div>

		<br/><br/>

		<button type="submit"  class="btn btn-info" style="margin-bottom:25px;border-radius: 0px 0px 0px 0px;margin-left:20px">Create Subject</button>
	</form>
	</div>
	
</div>

<script>
	
	$(document).ready(function() { $("#a1").select2();});

	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);

	$("form").on('submit', function(e)
  {
  	if ( !$("#a1").val() )
		{
			e.preventDefault();
			alert("Please enter Semester..!!");
		}
	});
	</script>