<div align="center" style="margin-top:60px">
	<form action="/course" method="post">
		
		<% if flash[:notice] %>
			<div class="notice" style="margin-left:40px;margin-bottom:-25	px"><h4 style="color:red;text-align:center"><%= flash[:notice] %></h4></div>
		<% end %>
		<br/><br/><br/>
		<input type="hidden" value=<%=@teacher.id %> name="t_id">
		<label style="margin-left:-220px">Subject Name <span style="padding-left:20px">:</span> </label>	
		<div class="form_group" style="float:center;width:18%;margin-top:-32px;margin-left:200px">
			<input type="text" class="form-control" name="course_name" required placeholder="Enter Subject Name"/>
		</div>

		<br/><br/>

		<label style="margin-left:-200px">Subject for<span style="padding-left:20px">:</span> </label>

		<div class="form_group" style="float:center;width:18%;margin-top:-32px;margin-left:200px">
			
			<select class="form-control" name="semesters[]" multiple="true" id="a1" placeholder="Enter Semesters">
				<% @semesters.each do |semester| %>
					<option value= <%=semester.id %> > <%= semester.year %> - <%= semester.branch %> - <%= semester.semester_type%> </option>
				<% end %>
			</select>

		</div>

		<br/><br/>

		<button type="submit"  class="btn btn-warning" style="border-style:solid; border-color: black;margin-left:40px; background-color:purple">Create Subject</button>
	</form>
	
</div>

<script>
	
	$(document).ready(function() { $("#a1").select2();});

	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);

	$("form").on('submit', function(e)
  {
  	if ( !$("#a1").val() )
		{
			e.preventDefault();
			alert("Please enter Semester..!!");
		}
	});
	</script>