
<form action="/notification" method="post">

	<% if flash[:notice6] %>
		<div class="notice" style="margin-left:530px">
			<h4 style="color:red"><%= flash[:notice6] %></h4>
		</div>
	<% end %>

	<input type="text" name="comment" class="summernote" />

	<div class="form_group" style="float:center;width:15%;margin-top:12px;margin-left:490px">
		<select class="form-control" name="semesters[]" multiple="true" id="a1" placeholder="Enter Semesters">
			<% @semesters.each do |semester| %>
				<option value="<%=semester.id %>"> <%= semester.year %> <%= semester.branch %> <%= semester.semester_type%> </option>
			<% end %>
		</select>
	</div>

	</br>

	<div style="margin-left:700px; margin-top:-52px">
		<input  style="background-color:grey" class="btn" type="submit" value="Submit" />
	</div>

</form>

<script>
	$(document).ready(function() { $("#a1").select2();});

	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);	
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);

	$(document).ready(function() {
  	$('.summernote').summernote(
  	{
  		height: 200,                 // set editor height
		  minHeight: null,             // set minimum height of editor
		  maxHeight: null,             // set maximum height of editor
		  focus: true
		 });
	});


  $("form").on('submit', function(e)
  {
  	if ( !$("#a1").val() )
		{
			e.preventDefault();
			alert("Please enter Semester..!!");
		}
		else
		{
	  	$(".summernote").val($(".summernote").code());
		}
  });
</script>