
<div align="center" style="width:40%">
	<h2 style="color:blue">My Subjects</h2>
	</br>
	<ul class="list-group">
		<% @courses.each do |course| %>
			<li class="list-group-item"><h4 style="color:#FF0066"><strong><%= course.course_name %></strong></h4></li>
		<% end %>
	</ul>
</div>
<script>
	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);
</script>
