
<div class="container"style="background-color:white">
<table style="margin-top:20px;border-width:2px black; table-layout:fixed" class="table table-bordered" id="total_count">

	<% if flash[:notice] %>
		<div class="notice" style="margin-left:530px"><h4 style="color:red"><%= flash[:notice] %></h4></div>
	<% end %>
	
	<colgroup>
	  <col style="width:50px">
	  <col style="width:65px">
	  <col style="width:50px">
	  <col style="width:150px">
	</colgroup>
	
	<tr>
    <th style="text-align:center;width:50px;">Uploaded by</th>
    <th style="text-align:center;width:65px;">Uploaded on</th>
    <th style="text-align:center;width:50px;">Uploaded for</th>
    <th style="text-align:center;width:150px;">Comment</th>
	</tr>

	<% @notifications.each do |notification| %>
	<tr>
		<td align="center"><%= @teacher_name + " " + @teacher_surname %></td>
		<td align="center"><%= notification.created_at.to_formatted_s(:long_ordinal)%></td>
		<td align="center"><%= notification.year + " " + notification.branch %></td>
		<td>
			<form action="/remove_notification" method="post">
				<input type="hidden" name="notification_id" value=<%= notification.id %>/>
				<button type="submit"  class="" data-dismiss="modal" style="color:red;margin-left:495px" ><span aria-hidden="true" ><i class="fa fa-trash-o"></i></span>
					<span class="sr-only"></span>
				</button>
			</form>
			<%= notification.comment.html_safe %>
		</td>
	</tr>
	<% end %>
</table>
</div>
<hr>	

<div class="apple_pagination" style="position:absolute;left:550px">
	<%=will_paginate @notifications%>
</div>

<script>
	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);	
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);

	$("form").on("submit",function(e){
		
		var validate = confirm("Are you sure ????");
		if ( validate )
		{
			form.submit();
		}
		else
		{
			e.preventDefault();
		}
	});

</script>