
<% if flash[:notice] %>
	<div class="notice"><h4 style="color:red;text-align:center"><%= flash[:notice] %></h4></div>
<% end %>

<div class="container"style="background-color:white">
<table style="margin-top:20px;border-width:2px black; table-layout:fixed" class="table table-bordered" id="my_count">

	<colgroup>
	  <col style="width:100px">
	  <col style="width:89px">
	  <col style="width:100px">
	  <col style="width:140px">
	  <col style="width:90px">
	</colgroup>

	<thead>
	    <th style="text-align:center;width:100px;">Uploaded by</th>
	    <th style="text-align:center;width:89px;">Subject</th>
	    <th style="text-align:center;width:100px;">Uploaded on</th>
	    <th style="text-align:center;width:140px;">Comment</th>
	    <th colspan=2 style="text-align:center;width:90px;">Options</th>
	</thead>

	<% @documents.each do |document| %>
		<tr>
			<td align="center"><%= @teacher_name %></td>
			<td align="center"><%= document.course_name %></td>
			<td align="center"><%= document.created_at.to_formatted_s(:long_ordinal)%></td>
			<td align="center"><%= document.comment %></td>
			<td colspan=2align="center">
				
				<p>
				<a style="border-radius: 0px 0px 0px 0px" class="btn btn-info btn-sm" href="http://docs.google.com/viewer?url=http://enigmatic-dawn-9721.herokuapp.com<%= document.avatar.url%>&embedded=true" target="_blank"><i style="margin-right:5px" class="fa fa-file-pdf-o"></i>View</a>

				<a class="btn btn-primary btn-sm" style="border-radius: 0px 0px 0px 0px" href= "<%=document.avatar.url%>"><i style="margin-right:5px" class="fa fa-download"></i>Download</a>

				<button class="btn btn-danger btn-sm" style="border-radius: 0px 0px 0px 0px;padding-left:10px"data-toggle="modal" data-target="#myModal_<%=document.id%>"><i style="margin-right:4px" class="fa fa-trash-o"></i>Remove</button>
				</p>

				<div class="modal fade" id="myModal_<%=document.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      </div>
				      
				      <div class="modal-body">
				       <h4 style="color:black" id="delete_<%=document.id%>"><b>Are you sure you want to delete?</b><h4>
				      </div>
				      
				      <div class="modal-footer">
				        <form action="/remove_file"	method="post">
									<input type="hidden" name="document_id" value=<%= document.id %>/>
									<button style="border-style:solid; border-color: black 2px" type="submit" class="btn btn-danger">Yes</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								</form>
				      </div>

				    </div>
				  </div>
				</div>
			</td>
		</tr>
	<% end %>

</table>
</div>
<div class="apple_pagination" style="position:absolute;left:550px;top:550px">
	<%=will_paginate @documents%>
</div>

<script>

	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
	var my_noti_count = <%=@my_noti_count%>
	$("#my_noti_count").html(my_noti_count);

</script>
