
<div align="center" style="margin-top:40px">
	<form action="/upload_file" method="post" enctype="multipart/form-data">
		
		<% if flash[:notice] %>
			<div class="notice" style="margin-bottom:-26px"><h4 style="color:red"><%= flash[:notice] %></h4></div>
		<% end %>
		
		<br/><br/><br/>
		<input type="hidden" value = <%= @teacher.email%> name="email"/>

		<label style="margin-right:200px">Select Course <span style="padding-left:20px">:</span> </label>
		<div class="form_group" style="float:center;width:15%;margin-top:-32px;margin-left:200px">
			<select class="form-control" name="course">
				<% @courses.each do |course| %>
					<option value="<%= course.id %>" > <%=course.course_name%></option>
				<% end %>
			</select>
		</div>

		<br/>
		<br/>
		
		<label style="margin-left:-200px">Select file<span style="padding-left:50px">:</span> </label>
		<div  style="float:center;width:25%;margin-top:-32px;margin-left:200px">
			<input  type="file" id="inputfile" name="avatar" style="margin-top:-26px;margin-left:70px"/>
		</div>

		<br/>
		<br/>
		<br/>
		
		<div class="form_group" style="float:center;width:15%;margin-top:-32px;margin-left:200px">
			<textarea class="form-control" style="margin-left:-150px;width:380px;resize:none;height:100px" name="comment" placeholder="Any Comments?"></textarea>
		</div>

		<br/>
		<br/>

		<button type="submit"  class="btn btn-danger" style="border-style:solid; border-color: black;margin-left:50px"><i style="margin-right:5px" class="fa fa-upload"></i>Upload Notes</button>
	</form>
</div>
<script>
	var my_count = <%=@my_count%>
	$("#my_count").html(my_count);
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
  var my_noti_count = <%=@my_noti_count%>
  $("#my_noti_count").html(my_noti_count);
</script>
