<!DOCTYPE html>
<html>
<head>
  <title>Query Panel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url('/assets/tinyowl.png');">

<div class="container">
	<% if flash[:notice] %>
		<div class="alert">
			<button class="close" data=dismiss="alert"></button>
			<%= flash[:notice] %>
		</div>
	<% end %>
</div>

<%= yield %>

</body>
</html>
